/* Global Styles */
body {
    background-color: black;
}

header {
    background-color: indigo;
}

main {
    background-color: cadetblue;
}

footer {
    background-color: indigo;
}

/* styles section */

section {
    border: 1px solid black;
    padding: 5px;
}