/* Global Styles */
body {
    background-color: black;
}

header {
    background-color: indigo;
}

main {
    background-color: cadetblue;
}

footer {
    background-color: indigo;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    text-align: center;
}

h3 {
    font-famil
}

button {
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
    float: center;
}

/* styles section */

/* section {
    border: 1px solid black;
    padding: 5px;
} */

/* homepage styles */
.title{

}
.btn-align-center{
    text-align: center;
}